@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #abd5b8;
}
header {
  position: fixed;
  overflow: hidden;
  width: 100%;
}
nav {
  background: white;
  color: rgb(36, 36, 36);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15%;
  font-family: "quicksand", sans-serif;
  font-weight: 500;
  font-size: 22px;
}
/* Baru */
nav div img {
  width: 150px;
}
.mainMenu {
  display: flex;
  align-items: center;
}
.logo-menulist {
  display: flex;
  justify-content: space-between;
}
.logo-menulist ul {
  display: flex;
  list-style: none;
}
.logo {
  display: flex;
  align-items: center;
}

/*  */
.cari-daftar {
}

.cari-daftar li {
  list-style: none;
}
.cari-daftar li a {
  text-decoration: none;
}

.daftar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: rgb(0, 161, 40);
  padding: 2px 10px;
}
.daftar a,
.daftar i {
  color: white;
  padding: 5px;
}
.daftar i {
  font-size: 1.5em;
}
.cari {
  display: flex;
  align-items: center;
  border-radius: 100px;
  background-color: rgb(239, 239, 239);
  width: 180px;
  height: 40px;
}
.cari i,
.cari a {
  margin-left: 15px;
  color: black;
}
.logo-cari {
  display: none;
}
/*  */

/* Bisa */
nav .mainMenu {
  display: flex;
  list-style: none;
}
nav .mainMenu li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.2s ease;
  border-radius: 100px;
}
nav .mainMenu li a:hover {
  background: rgb(214, 237, 219);
}
nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.fa-facebook,
.fa-github,
.fa-instagram,
.fa-twitter {
  color: white;
}
.fa-facebook:hover {
  color: rgb(0, 110, 255);
}
.fa-twitter:hover {
  color: rgb(86, 154, 243);
}
.fa-instagram:hover {
  color: rgb(255, 0, 191);
}
.fa-github:hover {
  color: rgb(255, 123, 0);
}
nav .logo {
  margin: 6px;
  cursor: pointer;
  text-transform: uppercase;
}

/* MAIN-
MAIN */
main {
  background-color: #ddfba2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.content {
  padding: 109px 15% 0 15%;
}
.home {
  margin: auto;
  padding-top: 12%;
  background-color: #f9cbcb;
  display: flex;
  gap: 40px;
  max-width: 1250px;
}
.home h1 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5em;
}
.home h2 {
  font-size: 46px;
  line-height: 1em;
  font-weight: 900;
  margin-bottom: 15px;
}
.home p {
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 0;
}
.tombol button {
  border: none;
  padding: 20px 32px;
  text-align: center;
  font-size: 16px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 100px;
}
.tombol1 {
  background-color: #abd5b8;
  color: black;
}
.tombol2 {
  background-color: #bcedaf;
  color: #a00d0d;
}

.home1 {
  width: 45%;
}
.home1 h2 {
  letter-spacing: -1px;
}
.titik {
  font-weight: 800;
  color: rgb(252, 164, 1);
  margin: -9px;
}
.home2 {
  /* display: flex; */
  width: 55%;
}
.home2 img {
  width: 100%;
}
/* Memilih Kami */

.memilih-kami {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 60px;
}
.alasan {
  margin: auto;
  background-color: rgb(255, 56, 232);
  align-items: center;
}
.memilih-kami .alasan img {
  padding-bottom: 6px;
}
.memilih-kami .alasan h2 {
  padding-bottom: 15px;
  font-size: 30px;
}
.memilih-kami .alasan p {
  font-size: 20px;
  padding-bottom: 10px;
}
.alasan .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 100px;
  background-color: burlywood;
  width: 120px;
  height: 40px;
  padding: 0;
}
.alasan .contact a {
  list-style: none;
  text-decoration: none;
  color: rgb(223, 22, 22);
}
.alasan {
  width: 50%;
  display: block;
}
.bungkus-alasan {
  width: 50%;
  background-color: #a00d0d;
  border-radius: 25px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.08);
}
.kelebihan {
  gap: 20px;
  display: flex;
  padding: 0;
  padding: 8px 40px;
  align-items: center;
}
.kelebihan img {
  margin: 20px 0;
  max-width: 17%;
}
.apa {
  background-color: #0d717a;
  margin: 20px 0;
}
.kelebihan1 {
  gap: 20px;
  display: flex;
  padding: 0;
  padding: 8px 40px;
  background-color: #abd5b8;
}
.kelebihan1 img {
  margin: 20px 0;
  max-width: 17%;
  margin: auto;
}
/* Fonst Size Kelebihan */
.kelebihan h2,
.kelebihan1 h2 {
  font-weight: 700;
  font-size: 20px;
}
.kelebihan p,
.kelebihan1 p {
  font-size: 16px;
}

/* ARTIKEL 1 */
.judul-fitur img {
  padding-bottom: 6px;
}
.judul-fitur {
  background-color: antiquewhite;
  justify-content: center;
  padding: 0;
  margin: 40px 0;
  text-align: center;
}
.judul-fitur h2 {
  font-size: 30px;
  padding-bottom: 15px;
}
.judul-fitur p {
  font-size: 18px;
}
.judul1 {
  height: 100%;
  margin: 20px 0;
  border-bottom: 1px solid rgba(189, 189, 189, 0.542);
  /* background-color: #ffcc1d; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.judul1 h2 {
  font-size: 20px;
}
.judul1 p {
  color: rgb(168, 168, 168);
}
.pembungkus {
  min-height: 400px;
  /* background-color: #043011; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.post {
  /* background-color: #1dff6c; */
  height: 100%;
  min-width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(189, 189, 189, 0.542);
}
/* .card-post {
} */
.cover-post img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.post-penulis img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}
.post-save img {
  width: 100%;
  height: 20px;
}
.post-body,
.post-footer {
  padding: 0 20px;
}
.post-body h2 {
  font-size: 22x;
}
.post-body p {
  font-size: 16px;
  padding: 10px 0;
}
.post-penulis {
  display: flex;
  place-items: center;
  height: 80px;
}
.post-ket {
  padding: 10px;
}
.post-ket > h5 {
  font-size: 11px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.post-ket > p {
  padding: 0;
  margin: 0;
  font-size: 11px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: end;
}

/* AKHIR ARTIKEL 1 */

/* Awal Baner */
.banner {
  display: flex;
  background-color: #0d717a;
  border-radius: 30px;
  margin: 55px 0 0 0;

  align-items: center;
  gap: 60px;
}
.teks-banner {
  width: 55%;
  padding-right: 55px;
  background-color: #b5b4fc;
}
.teks-banner h1 {
  font-weight: 900;
  letter-spacing: 0.02em;
  font-size: 40px;
  padding-bottom: 20px;
  line-height: 40px;
}
.foto-banner {
  width: 35%;
  margin: 20px 0;
  padding-left: 55px;
}

.foto-banner img {
  width: 100%;
}

/* Akhir Baner */

/* Awal Footer */
footer {
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: "quicksand", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
}
.tampilan-footer {
  background-color: rgb(0, 71, 18);
  padding: 30px 15%;
  display: flex;
  gap: 50px;
}
.logo-footer {
  width: 40%;
  margin: 20px 0;
}
.logo-footer img {
  width: 150px;
}
.logo-footer p,
.contact-footer h3,
.fitur-footer h3 {
  padding: 10px 0;
}
.contact-footer,
.fitur-footer {
  width: 30%;
  margin: 20px 0;
}
.kontakku {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}
.kontakku i {
  font-size: 1.3em;
}
.icon-footer i {
  padding: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}
.teks-footer {
  text-align: center;
  background-color: rgb(5, 54, 16);
  color: white;
  padding: 20px;
}
/* Akhir Footer */

/* Awal Aside (Profile) */

/* Akhir Aside */

/* RESPONSIVE */
/* Laptop */
@media screen and (max-width: 1439px) {
  nav {
    padding: 30px 10%;
  }
  main {
    padding: 109px 10% 0 10%;
  }
  .memilih-kami {
    display: flex;
    flex-direction: row-reverse;
  }
  .bungkus-alasan {
    width: 100%;
  }
  .kelebihan {
    display: flex;
    width: 100%;
  }
  .alasan {
    display: block;
    width: 100%;
  }
  .post-body h2 {
    font-size: 22px;
  }

  /* Footer */
  .tampilan-footer {
    background-color: rgb(0, 71, 18);
    padding: 30px 10%;
    display: flex;
    gap: 40px;
  }
}
/* Tablet */
@media screen and (max-width: 1023px) {
  nav {
    display: block;
    padding: 20px 10%;
  }
  .cari-daftar {
    display: none;
  }
  main {
    background-color: #687b4d;
    padding: 88px 10% 0 10%;
  }
  .home {
    display: block;
    background-color: #e1f186;
    margin: auto;
    padding-top: 10%;
    /* height: 750px; */
  }
  .home1 {
    text-align: center;
    padding: 0 15px;
    width: 100%;
  }
  .home h1 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5em;
  }
  .home h2 {
    padding: 0 70px;
  }
  .home2 {
    padding: 5px 0 0 0;
    margin: auto;
    width: 90%;
  }
  .memilih-kami {
    display: block;
  }
  .contact {
    margin: auto;
    margin-top: 20px;
  }
  .bungkus-alasan {
    margin-top: 40px;
  }
  .alasan {
    /* height: 220px; */
    text-align: center;
  }
  .kelebihan {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.08);
  }
  .pembungkus {
    grid-template-columns: repeat(2, 1fr);
  }

  /* BANNER */
  .banner {
    justify-content: center;
    display: block;
    padding: 20px;
    border-radius: 25px;
  }
  .teks-banner {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .foto-banner {
    width: 35%;
    margin: auto;
    padding: 0;
    /* display: none; */
  }
  .teks-banner h1 {
    font-weight: 800;
    letter-spacing: 0.02em;
    font-size: 30px;
    padding-bottom: 20px;
    line-height: 40px;
  }
  /* Footer */
  .tampilan-footer {
    display: block;
    padding: 30px 10%;
    gap: 30px;
  }
  .logo-footer,
  .fitur-footer,
  .contact-footer {
    width: 100%;
  }
}

/*  
Moblibe*/
@media screen and (max-width: 600px) {
  nav {
    display: block;
    padding: 10px 5%;
  }
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 100;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 71, 18);
    transition: top 1s ease 0s;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .closeMenu i {
    color: white;
  }
  nav .mainMenu li a {
    color: white;
  }
  nav .openMenu {
    display: block;
    margin: 0;
  }
  nav .mainMenu li a:hover {
    background: none;
    color: rgb(255, 123, 0);
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }

  .cari-daftar li {
    display: none;
  }
  main {
    width: 100%;

    padding: 69px 5% 0 5%;
    background-color: #0d717a;
  }
  .home {
    display: block;
    background-color: #e1f186;
    margin: auto;
    padding-top: 15%;
    /* height: 630px; */
  }
  .home1 {
    text-align: center;
    padding: 0 15px;
    width: 100%;
  }
  .home h1 {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.7em;
  }
  .home h2 {
    font-size: 35px;
    line-height: 1em;
    font-weight: 900;
    margin-bottom: 15px;
    padding: 0;
  }
  .home2 {
    padding: 20px 0 0 0;
    margin: auto;
    width: 90%;
    object-fit: cover;
  }
  .memilih-kami {
    justify-content: center;
  }
  .memilih-kami .alasan {
    background-color: azure;
    text-align: center;
    align-items: center;
    /* height: 260px; */
  }
  .memilih-kami .alasan img {
  }
  .memilih-kami .alasan {
    padding-bottom: 15px;
  }
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100px;
    background-color: burlywood;
    width: 120px;
    height: 40px;
    padding: 0;
    margin: auto;
    margin-top: 20px;
  }
  .contact a {
    padding: 20px 0;
    list-style: none;
    text-decoration: none;
    color: rgb(223, 22, 22);
  }
  .memilih-kami {
    display: block;
  }
  .bungkus-alasan {
    margin-top: 40px;
    padding: 20px;
    justify-content: center;
    width: 100%;
  }
  .kelebihan,
  .kelebihan1 {
    padding: 0;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.08);
  }
  .pembungkus {
    display: block;
  }
  .post-body h2 {
    font-size: 20px;
  }
  .post-body p {
    display: none;
  }
  .banner {
    display: flex;
    background-color: #0d717a;
    border-radius: 20px;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
  }
  .teks-banner {
    width: 100%;
    padding: 0;
    text-align: left;
    font-size: 10px;
  }
  .teks-banner h1 {
    font-weight: 900;
    letter-spacing: 0.02em;
    font-size: 20px;
    padding: 0;
    line-height: 25px;
  }
  .teks-banner p {
    display: none;
  }
  .foto-banner {
    /* display: none; */
  }

  /* Footer */
  .teks-footer {
    font-size: 13px;
  }
  .tampilan-footer {
    display: block;
    padding: 30px 5%;
    gap: 30px;
  }
}
